@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: hsla(216, 100%, 99%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left__side {
  position: relative;
  background-color: #003147;
  padding: 20px 30px;
}
.homebox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.homebox .home__icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.homebox .home__icon:hover {
  opacity: 0.8;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4em;
}
.profileText h4 {
  margin-top: 5px;
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}
.contactInfo {
  padding-top: 40px;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contactInfo ul li a,
span {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
.contactInfo.education {
  margin-bottom: 15px;
}
.contactInfo.education h5 {
  color: #03a9f4;
  font-weight: 500;
}
.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 600;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: 200;
}
.container .right__side {
  position: relative;
  background: #fff;
  padding: 40px;
}
.box__skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about {
  margin-bottom: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: justify;
}
.about:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding: 0;
}
.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.about .box {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 20px 0;
}
.about .box .year__company {
  min-width: 150px;
}
.about .box .year__company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
  margin-top: 5px;
}
.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}
.company {
  margin: 20px 0 70px 0;
}
.interest ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.interest ul li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}
.interest ul li .bx {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year__company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
